Data/Papyrus/papyrus/05.7/05.7_combined_set_protein_targets.tsv.xz
Data/Papyrus/papyrus/05.7/05.7_combined_set_without_stereochemistry.tsv.xz
Data/Papyrus/papyrus/05.7/05.7++_combined_set_without_stereochemistry.tsv.xz
Data/Papyrus_output/Papyrus_dataset.tsv
