Packages/QSPRpred
Packages/spock
Data/temp/ChemStorage
Data/temp/ProtomerStorage
Data/temp/SpockStorage
Data/resources/papyrus/05.7/05.7_combined_set_protein_targets.tsv.xz
Data/resources/papyrus/05.7/05.7_combined_set_without_stereochemistry.tsv.xz
Data/resources/papyrus/05.7/05.7++_combined_set_without_stereochemistry.tsv.xz
Data/resources/subset/papyrus_subset.tsv